@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
  background: #e1f3fa;
  color: #333;
  font-family: "Lato", serif;
  font-size: 16px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#main_content {
  margin: 0;
  padding: 0.5em;
  background: #ffffff;
  border-radius: 10px;
}

.group {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
  width: 100%;
}

.cl1, .cl2, .cl3, .cl4 {
  width: 100%;
}


#main_nav {
  font-family: "Lato";
  letter-spacing: -0.025em;
  display: none;
}

#main_nav ul {
 list-style: none;
}

#main_nav li {
  font-size: 120%;
}

#main_nav a:hover {
  text-decoration: none;
}

#header {
  margin: auto;
  min-width: 200px;
  max-width: 200px;
  margin-bottom: 1em;
}

p, ol, ul {
  font-family: 'Open Sans';
  color: #555555;
}

.c4 img {
  width: 100%;
  max-width: 100%;
}

.small {
  font-size: 100%;
  letter-spacing: 0;
}

.tiny {
  font-size: 80%;
  letter-spacing: 0;
}

h1, h2, h3, h4 {
   font-family: "Lato", serif;
   color: #000;
   text-rendering: optimizeLegibility;
}

h1 {
   color: #163842;
   line-height: 1.2em;
   letter-spacing: -0.025em;
   font-weight: 900;
   font-size: 44px;
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 0;
   margin-left: 0;
}

h2 {
   font-size: 28px;
   letter-spacing: -0.025em;
   line-height: 1.3em;
   color: #307489;
}

h3 {
   font-size: 110%;
   letter-spacing: -0.025em;
   line-height: 1.3em;
   color: #db5b4a;
}

.testimonial {
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.testimonial img {
  float: left;
  padding-right: 1em;
}

.center {
  text-align: center;
}

.client {
  margin: auto;
}

a {
  color: #0099c3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  color: #163842;
  padding-left:  0.5em;
  padding-right: 0.5em;
}

.cta {
  border-radius: 3px;
  color: #ffffff;
  background: #db5b4a;
}

.gray-backed-frame {
  border-radius: 5px;
  background-image: url(grey2.png);
  padding-top: 1em;
  padding-bottom: 1em;
}

#social-party li {
  display: inline;
}

ul.iconlist {
  list-style-type: none;
}

ul.iconlist li {
  text-indent: -1.4em;
}

ul.iconlist li:before
{
  font-family: 'octicons';
  color:  #307489;
  content: "\f02a";
  float: left;
  width: 1.4em;
}

#sharing {
  font-size: 150%;
}

@media (min-width: 800px) {
  .c1 {
     width: 20%;
  }

  .c2 {
     width: 80%;
  }

  .c3 {
     width: 60%;
  }

  .c4 {
     width: 40%;
  }

  .c4 img {
     padding-left: 1em;
  }

  .c6 {
     width: 25%;
  }

  .cl1 {
    width: 30%;
  }

  .cl2 {
    width: 23%;
  }

  .cl3 {
    width: 21%;
  }

  .cl4 {
    width: 26%;
  }

  #main_content {
     padding-top: 1em;
     padding-left: 4em;
     padding-right: 4em;
     padding-bottom: 1em;
  }

  #main_nav {
     float: right;
     padding-top: 3em;
     display: block;
  }

  #main_nav li {
     display: inline;
  }

  #header {
    margin:0;
    padding-left: 0;
    padding-bottom: 1em;
  }

  p, ol, ul {
    font-size: 18px;
    letter-spacing: -0.01em;
    line-height: 1.55em;
  }

  .holler {
    padding-left: 1em;
    padding-right: 1em;
  }

  h1 {
    margin-top: 0.67em;
  }

  h3 {
    font-size: 22px;
  }

  .small {
    line-height: 1.375em;
  }

  .testimonial img {
    float: left;
    padding-right: 3em;
    padding-bottom: 1em;
  }

  .pull-quote {
    margin-top: 0;
  }

  .gray-backed-frame {
    margin-top: 2em;
  }

  #blog {
    display: none;
  }
  #samples { 
    display: none;
  }
  #fieldEmail {
   font-size: 18px;
  }
}
